<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8" />
<title>Create New Manager</title>
</head>
<body>
<div align="center">
        <h1>Create New Manager</h1>
        <br />
        <form action="#" th:action="@{/saveManager}" th:object="${manager}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Manager Name:</td>
                    <td><input type="text" th:field="*{managerName}" /></td>
                </tr>
                <tr>
                    <td> Manager ID:</td>
                    <td><input type="text" th:field="*{managerID}" /></td>
                </tr>
                                            
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>